.carousel-root {
  width: 25%;
  margin-top: 1rem;
}

.section-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DraftEditor-root {
  height: 100% !important;
  padding: 0.3rem;
}

.section-heading {
  text-align: left;
  margin: 1rem;
  font-size: 3rem;
}

.share-btn {
  background-color: #0b132b;
  position: fixed;
  right: 0.5rem;
  bottom: 0.8rem;
  padding: 0.8rem;
  z-index: 999;
  border-radius: 2rem;
  outline: none;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #888888;
}

.report-date {
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  padding: 0.3rem;
}
.report-day {
  font-size: 1.5rem;
  font-weight: bold;
}

.report {
  width: 100%;
}
div.DraftEditor-root {
  /* border: 1px solid #000; */
  min-height: 200px;
  overflow-y: auto;
  margin-top: 1rem;
  width: 90%;
  margin-bottom: 1rem;
  word-break: break-word;
}

.report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report-header > .delete {
  background-color: red;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  min-height: 200px;
}
.report-container {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .carousel-root {
    width: 100%;
  }

  .DraftEditor-root {
    height: 100% !important;
  }
  .section-heading {
    font-size: 2rem;
  }
}
