.reports-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 1rem;
  /* justify-content: center; */
  width: 100%;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #888888;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
}
.reports-h2 {
  text-align: left;
  margin-bottom: 1.2rem;

  padding-bottom: 0;
  font-size: 3rem;
}
.reports-table-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.report-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.report-card {
  background-color: #fff;
  display: flex;
  /* box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #888888; */
  padding: 0.5rem;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
  border-radius: 0.2rem;
}
.report-card > h3 {
  padding: 0.3rem;
}
.report-card > img {
  width: 100%;
  height: 30vh;
  max-width: 25vw;
}

@media only screen and (max-width: 500px) {
  .reports-container {
    grid-template-columns: auto auto;
  }
  .report-card {
    width: 100%;
  }
  .report-card > img {
    width: 100%;
    height: 100%;
  }
}
